.fade-enter {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.fade-leave {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.fade-leave-active {
  opacity: 0;
  transform: translateY(-10px);
}
